<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Study Companion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Temporary name</h1>
    </header>

    <main id="dashboard-layout">
        <section class="feature-card" id="planner-placeholder">
            <h2>Smart Study Planner</h2>
        </section>

        <section class="feature-card" id="chatbot-placeholder">
            <h2>Mini Chatbot</h2>
        </section>
        
        <section class="feature-card" id="tracker-placeholder">
            <h2> Database Tracker</h2>
        </section>
    </main>

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>